以下の<CONTRIBUTION OF THIS STUDY>と<PROBLEMS OF PREVIOUS STUDIES>を参考に、この論文の主要な貢献と先行研究の問題点についての日本語要約を最大100字で書いてください。


<CONTRIBUTION OF THIS STUDY>: "{contribution}"
<PROBLEMS OF PREVIOUS STUDIES>: "{problem}"

回答には、既存の問題とそれを解決する新たな理論・研究方法・経験的実験による評価を含めてください。また回答には「〜だ。である。」といった常体を使用してください。文章に含まれる関連要素が少ない場合は、冗長な要約を生成しようとせず、100字未満の日本語要約で回答してください。

日本語要約: 