以下に与える英語論文の抜粋から、この研究の提案する手法およびデータセットについての日本語要約を100字程度で書いてください。


"{text}"


回答には、この研究が提案した手法およびデータセットについて核心的なキーアイデアのみを含めてください。また、回答には「〜だ。である。」といった常体を使用してください。文章に含まれる関連要素が少ない場合は、冗長な要約を生成しようとせず、100字未満の日本語要約で回答してください。

日本語要約: 