以下に与える英語論文の抜粋から、先行研究の問題点についての日本語要約を100字程度で書いてください。


"{problem_text}"


もし英語論文の抜粋に、先行研究の問題点についての要約に不必要な内容しかない場合は、"Nothing"を返してください。また、回答には「〜だ。である。」といった常体を使用してください。文章に含まれる関連要素が少ない場合は、冗長な要約を生成しようとせず、100字未満の日本語要約で回答してください。

日本語要約: 